body{
  margin: 0;
  height: 100%;
  background: linear-gradient(to right, purple, white);
  overflow: hidden;
}

.Left-Header{
  display: table;
  float: left;
  color: white;
  background: rgb(159, 16, 16);
  height: 100vh;
  width: 300px;
  flex-direction: column;
  margin-left: 180px;
  margin-top: 8px;
}

.name{
  display: inline-flex;
  font-size: 50px;
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 30px;
  text-align: center;
  height: 20px;
  justify-content: center;
  


}

.adress{
  display: inline-flex;
  flex-direction: column;
  padding-top: 140px;
  justify-content: left;
  align-items: left;
  margin-left: 20px;
  font-size: 25px;
  font-weight: 800;

}

.adress-info{
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.phone{
  display: inline-flex;
  flex-direction: column;
  padding-top: 30px;
  justify-content: left;
  align-items: left;
  margin-left: 20px;
  font-size: 25px;
  font-weight: 800;
}

.phone-info{
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.email{
  display: inline-flex;
  flex-direction: column;
  padding-top: 30px;
  justify-content: left;
  align-items: left;
  margin-left: 20px;
  font-size: 25px;
  font-weight: 800;
}

.email-info{
  font-size: 20px;
  font-weight: 500;
  color: white;
}


.Right-Header{
  display: table;
  margin-top: -30px;
  margin-right: 14px;
  width: 1035px;
  height: 100vh;
  float: right;

}

.To{
  display: inline-block;
  text-align: left;
  font-size: 28px;
  padding-top: 70px;
  padding-left: 10px;
}

.work-position{
  display: block;
  text-align: left;
  font-size: 28px;
  padding-top: 30px;
  padding-left: 10px;
}

.position-info{
  color: black;
}

.company{
  display: block;
  text-align: left;
  font-size: 28px;
  padding-top: 30px;
  padding-left: 10px;
}

.city{
display: block;
text-align: left;
font-size: 28px;
padding-top: 30px;
padding-left: 10px;
}

.content{
  display: block;
  padding-top: 30px;
  font-size: 15px;
}
.title{
  display: block;
  text-align: center;
  font-size: 22px;
  font-weight: 800;
}


.content-info{
  display: block;
  text-align: left;
  padding-left: 20px;
  font-size: 20px;
  font-family: Arial;
}

.greetings{
  display: block;
  font-size: 22px;
  text-align: left;
  padding-left: 20px;
  font-weight: 800;
}